<footer class="bg-light mt-3 py-3">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <address>
          <a href="{{ site.location }}" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ site.address }}</a>
          {% if site.tel %}
          | <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:{{ site.tel | replace: '-', '' }}">{{ site.tel }}</a>
          {% endif %}
        </address>
        <span class="text-muted">© {{ site.time | date: '%Y' }}. {{ site.title }} all rights reserved.</span>
      </div>
      <p>&nbsp;</p>
    </div>
  </div>
</footer>
