---
layout: default
---

{% include navbar.html %}

{% include page-header.html %}

<div class="container">
  {% if page.cover %}<p class="my-3"><img src="{{ page.cover }}" alt="{{ page.title }}"></p>{% endif %}

  <ul class="list-unstyled lead">
    <li><i class="fa fa-calendar" aria-hidden="true"></i> <span class="when{% if page.status %} {{ page.status }}{% endif %}">{{ page.when }}</span></li>
    <li><a href="{{ page.where-url }}" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i> <span class="where{% if page.status %} {{ page.status }}{% endif %}">{{ page.where }}</span></a></li>
    <li><i class="fa fa-trophy" aria-hidden="true"></i> {{ page.why }}</li>
  </ul>

  <p>&nbsp;</p>

  {{ content }}

  {% if page.join %}<p>&nbsp;</p><button class="btn btn-lg {% if page.status != 'canceled' %}btn-primary{% endif %}{% if page.status %} {{ page.status }}{% endif %}" {% if page.status != 'canceled' %}onclick="window.open('{{ page.join }}','_blank');"{% endif %} target="_blank" disabled><i class="fa fa-thumbs-up" aria-hidden="true"></i> 나도~</button>{% endif %}

  <p>&nbsp;</p>

</div>

{% include footer.html %}

{% include back-to-top.html %}
